/* 
-----------
! COMMON
-----------
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 70%;
  margin: 0 auto;
}

/* 
-----------
! HEADER
-----------
 */
header {
  padding-left: 40px;
  padding-top: 20px;
  font-size: larger;
  margin-bottom: 100px;
}
img {
  vertical-align: middle;
}
.title {
  display: inline-block;
  vertical-align: middle;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Martian Mono", monospace;
}

/* 
-----------
! MAIN
-----------
 */
button {
  padding: 7px 15px;
  border-radius: 10px;
  border: 0.5px solid;
}
#task {
  background-color: rgba(71, 173, 241, 255);
  color: rgba(255, 255, 255, 255);
}
#section {
  background-color: white;
  color: 7da8c7;
  border-color: 7da8c7;
}
